

/* section  card*/
/*.card{
  width: 400px;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}
.card a{
    color: #333;
    text-decoration: none;
}
.card:hover .card-image img{
    width: 160%;
    filter: grayscale(5);
}
.card-image {
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    transition-property: filter width;
    transition-duration:-3s ;
    transition-timing-function: ease;
}
.card-body{
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}
.card-date{
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
}
.card-title  , .card-excerpt{
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
}
.card-date , .card-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.card-date , .card-excerpt{
    color: #777;
}*/

.presentation{
    background-color: red;
    height: 250%;
    width: 250%;
}
.portfolio {
    justify-content: center;
    flex-wrap:  wrap;
}
.portfolio img{
    height: 20px;
    width: 20px;
}
.card{
    box-shadow: 6px 6px 6px 6px #cccccc;
    margin: 20px;

}
.card .language {
    text-decoration: underline;
}
.card:hover{
box-shadow: 6px 6px 6px 6px #0c2326;
transition: all 0.4s ease 0s;
}

.about-container {
  width: 80%;
  height: 330px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}