{% extends 'layouts/base.html' %}
{% load static%}
{% block title %} portfolio herman{% endblock  %}

      {% block style %} 
       
<link rel="stylesheet" href=" {% static 'cv/css/portfolio.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">


      {% endblock %} 
{% include 'layouts/_navbar.html' %}
{% block content %}
<section class="presentation">
<p> herman</p>
<h2>quality work Recently done project</h2>
</section>

<div class="container">

{% for file in project %}

<!--- <div class="card">
    <a href="#">

        <div class="card-image">
            <img src="{%  static file.image  %}" alt="#">
        </div>
        
        <div class="card-body">
            <div class="card-date">
                <time> 3 octobre 2020</time>
            </div>
        </div>

        <div class="card-title">
            <h3>{{file.title}}</h3>
        </div>

        <div class="card-excerpt">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur tenetur quod minus, corrupti laudantium rem dolor temporibus incidunt qui,aiores esse quia labore?</p>
        </div>
    </a>
</div> -->
<div class="about-container">
	<!--img-->
		<img src="images/about-img.png"/>
	<!--about-me-text-->
		<div class="about-text">
		<p>About Me</p>
		<p>Devolper & Designer</p>
		<p>Hello,My name is Touseeq Ijaz. I am a Devolper and also a Designer.If you have asany Project or if you want make a software for your bisnes conatact me.I make as soon as possibale.You really like my work,if you don&#8217;t i change this until you like I give you seticfaction result.</p>
		<p>I am a Devolper and also a Designer.If you have asany Project or if you want make a software for your bussniess conatact me.I make your project as soon as possible.</p>
		<button>Hire Me</button>
		<button>Download CV</button>
		</div>
	</div
<div>
    <img  src="{%  static file.image  %}"   style="width: 18rem;" alt="#">
</div>


<div class="card" style="width: 18rem;">
    <div>
    <img src="{%  static file.image  %}" alt="#" class="card-img-top  ">
    </div>

        <h5 class="card-title text-center ">
        <strong>    {{file.title}} </strong>        </h5>
                <p >Langage:  <strong class="language"><em>{{ file.langage}}</em> </strong> </p>
        <p class="card-text">
           {{ file.description |truncatechars:50}}</p>
         <a href="#" class="btn btn-primary"> All Detail</a>

        </div>

</div>
{% endfor%}
    </div>
    
{% endblock content %}
{% block footer %} {% include 'layouts/_footer.html'  %} {% endblock  %}

